<header> 
  <div>
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %> 
      <nav>
        <ol class="breadcrumb">
          <li><%= link_to "Home", home_path %></li> 
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>
            <li><%= link_to 'Users', '#' %></li>
            <li><%= link_to "Account", '#' %></li>
            <li><%= link_to 'Profile', current_user %></li>
            <li><%= link_to 'Settings', '#' %></li>
            <li><%= link_to '登出', signout_path %></li>
          <% else %>
            <li><%= link_to '登入', signin_path %></li>
          <% end %>
        </ol> 
      </nav>
    </div>
  </div>
</header>